parameters:
    level: 8
    paths:
        - src
        - tests
    ergebnis:
        allowAbstractClasses: false
        classesAllowedToBeExtended:
            - RuntimeException
    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Assert\AssertionFailedException
            - PHPUnit\Framework\ExpectationFailedException
        methodThrowTypeDeclarations:
            SpotifyWebAPI\SpotifyWebAPI:
                me:
                    - SpotifyWebAPI\SpotifyWebAPIException
    ignoreErrors:
        -
            message: '#Missing .* annotation#'
            path: %currentWorkingDirectory%/tests/

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
