openapi: 3.0.1
info:
  title: Discorg
  version: 1.0.0
servers:
  - url: 'http://discorg.bouda.life/api/v1'
security:
  - bearerAuth: []
paths:
  /health-check:
    get:
      security: []
      responses:
        '200':
          description: Health check
          content: {}
  /user:
    post:
      security: []
      operationId: userRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentials'
      responses:
        '200':
          description: User registered
          content: {}
        '400':
          description: Registration failed
  /user/me:
    get:
      operationId: userInfo
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /user/me/session:
    post:
      security:
        - loginBasicAuth: []
      responses:
        '200':
          description: Login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSession'
    get:
      responses:
        '200':
          description: Get existing sessions for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSession'
components:
  securitySchemes:
    loginBasicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: custom
  schemas:
    UserCredentials:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required:
        - email
        - password
    User:
      type: object
      properties:
        email:
          type: string
      required:
        - email
    UserSession:
      type: object
      properties:
        token:
          type: string
      required:
        - token
