-
    request:
        method: GET
        url: 'https://api.spotify.com/v1/me'
        headers:
            Authorization: 'Bearer BQAR7OMMTw4M1ZZqsmU6J_5ZNvBUfvjKeoe6P6Vf0a3SdZ-0XHoOMRBTn'
    response:
        status:
            code: '200'
            message: ''
        headers:
            content-type: 'application/json; charset=utf-8'
        body: "{\n  \"birthdate\" : \"1955-02-01\",\n  \"country\" : \"CZ\",\n  \"display_name\" : \"Some Guy\",\n  \"email\" : \"some@guy.com\",\n  \"explicit_content\" : {\n    \"filter_enabled\" : false,\n    \"filter_locked\" : false\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/user/some.guy\"\n  },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 18\n  },\n  \"href\" : \"https://api.spotify.com/v1/users/some.guy\",\n  \"id\" : \"some.guy\",\n  \"images\" : [ {\n    \"height\" : null,\n    \"url\" : \"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=10205261702402652&height=200&width=200&ext=1561715131&hash=AeSpwtZQ4Oj0tzb8\",\n    \"width\" : null\n  } ],\n  \"product\" : \"premium\",\n  \"type\" : \"user\",\n  \"uri\" : \"spotify:user:some.guy\"\n}"
