-
  request:
    method: GET
    url: 'https://api.spotify.com/v1/me'
    headers:
      Authorization: 'Bearer BQAR7OMMTw4M1ZZqsmU6J_5ZNvBUfvjKeoe6P6Vf0a3SdZ-0XHoOMRBTn'
  response:
    status:
      code: '401'
      message: ''
    headers:
      www-authenticate: 'Bearer realm="spotify", error="invalid_token", error_description="The access token expired"'
      content-type: application/json
    body: "{\n  \"error\": {\n    \"status\": 401,\n    \"message\": \"The access token expired\"\n  }\n}"
-
  request:
    method: POST
    url: 'https://accounts.spotify.com/api/token'
    headers:
      Authorization: 'Basic MTAwMDAwMDAwMDEwMDAwMDAwMDAxMDAwMDAwMDAwMTA6MjAwMDAwMDAwMDIwMDAwMDAwMDAyMDAwMDAwMDAwMjA='
    body: 'grant_type=refresh_token&refresh_token=AQCRYYgWRUcbSxnIuBSpbDiqy0S1Myc'
  response:
    status:
      code: '200'
      message: ''
    headers:
      content-type: application/json
    body: '{"access_token":"BQCaxJAeSUa8YkL1AZCbXm4T8Q9ebdLgwvH4ElRAcRE5fib","token_type":"Bearer","expires_in":3600,"scope":"playlist-read-private playlist-read-collaborative user-follow-read playlist-modify-private user-read-email user-read-private user-follow-modify user-modify-playback-state user-library-read user-library-modify playlist-modify-public user-read-playback-state user-read-currently-playing user-read-birthdate user-read-recently-played user-top-read"}'
