-
  request:
    method: GET
    url: 'https://api.spotify.com/v1/me'
    headers:
      Authorization: 'Bearer BQAR7OMMTw4M1ZZqsmU6J_5ZNvBUfvjKeoe6P6Vf0a3SdZ-0XHoOMRBTn'
  response:
    status:
      code: '200'
      message: ''
    headers:
      content-type: 'application/json; charset=utf-8'
    body: "{\n  \"birthdate\" : \"1955-02-01\",\n  \"country\" : \"CZ\",\n  \"display_name\" : \"Some Guy\",\n  \"email\" : \"some@guy.com\",\n  \"explicit_content\" : {\n    \"filter_enabled\" : false,\n    \"filter_locked\" : false\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/user/some.guy\"\n  },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 18\n  },\n  \"href\" : \"https://api.spotify.com/v1/users/some.guy\",\n  \"id\" : \"some.guy\",\n  \"images\" : [ {\n    \"height\" : null,\n    \"url\" : \"https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=10205261702402652&height=200&width=200&ext=1561715131&hash=AeSpwtZQ4Oj0tzb8\",\n    \"width\" : null\n  } ],\n  \"product\" : \"premium\",\n  \"type\" : \"user\",\n  \"uri\" : \"spotify:user:some.guy\"\n}"
-
  request:
    method: GET
    url: 'https://api.spotify.com/v1/me/albums/?limit=5&offset=0'
    headers:
      Authorization: 'Bearer BQAR7OMMTw4M1ZZqsmU6J_5ZNvBUfvjKeoe6P6Vf0a3SdZ-0XHoOMRBTn'
  response:
    status:
      code: '200'
      message: ''
    headers:
      content-type: 'application/json; charset=utf-8'
      etag: '"MC-ImI1NzUwNzAxZGIyZWQ2MWVjM2RjZDYxNWM4NmRkZTQ2Ig=="'
    body: "{\n  \"href\" : \"https://api.spotify.com/v1/me/albums?offset=0&limit=5\",\n  \"items\" : [ {\n    \"added_at\" : \"2019-05-27T06:14:36Z\",\n    \"album\" : {\n      \"album_type\" : \"album\",\n      \"artists\" : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/75U40yZLLPglFgXbDVnmVs\"\n        },\n        \"href\" : \"https://api.spotify.com/v1/artists/75U40yZLLPglFgXbDVnmVs\",\n        \"id\" : \"75U40yZLLPglFgXbDVnmVs\",\n        \"name\" : \"The Mars Volta\",\n        \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:75U40yZLLPglFgXbDVnmVs\"\n      } ],\n      \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n      \"copyrights\" : [ {\n        \"text\" : \"© 2008 The Mars Volta\",\n        \"type\" : \"C\"\n      }, {\n        \"text\" : \"℗ 2008 The Mars Volta\",\n        \"type\" : \"P\"\n      } ],\n      \"external_ids\" : {\n        \"upc\" : \"00602517575301\"\n      },\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/album/62t7avflSxMRfEoJEhFikS\"\n      },\n      \"genres\" : [ ],\n      \"href\" : \"https://api.spotify.com/v1/albums/62t7avflSxMRfEoJEhFikS\",\n      \"id\" : \"62t7avflSxMRfEoJEhFikS\",\n      \"images\" : [ {\n        \"height\" : 640,\n        \"url\" : \"https://i.scdn.co/image/91fbe5c6747027f526af295f2e3bd522329bedbe\",\n        \"width\" : 640\n      }, {\n        \"height\" : 300,\n        \"url\" : \"https://i.scdn.co/image/216fc5db977b8d971cfc8478a28f7bddfc3c0668\",\n        \"width\" : 300\n      }, {\n        \"height\" : 64,\n        \"url\" : \"https://i.scdn.co/image/8fbc856a70aba522597ded9b381604abcc71103e\",\n        \"width\" : 64\n      } ],\n      \"label\" : \"Motown\",\n      \"name\" : \"The Bedlam in Goliath\",\n      \"popularity\" : 42,\n      \"release_date\" : \"2008-01-01\",\n      \"release_date_precision\" : \"day\",\n      \"total_tracks\" : 12,\n      \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/albums/62t7avflSxMRfEoJEhFikS/tracks?offset=0&limit=50\",\n        \"items\" : [ {\n          \"artists\" : [ {\n            \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/75U40yZLLPglFgXbDVnmVs\"\n            },\n            \"href\" : \"https://api.spotify.com/v1/artists/75U40yZLLPglFgXbDVnmVs\",\n            \"id\" : \"75U40yZLLPglFgXbDVnmVs\",\n            \"name\" : \"The Mars Volta\",\n            \"type\" : \"artist\",\n            \"uri\" : \"spotify:artist:75U40yZLLPglFgXbDVnmVs\"\n          } ],\n          \"available_markets\" : [ \"AD\", \"AE\", \"AR\", \"AT\", \"BE\", \"BG\", \"BH\", \"BO\", \"BR\", \"CA\", \"CH\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DE\", \"DK\", \"DO\", \"DZ\", \"EC\", \"EE\", \"EG\", \"ES\", \"FI\", \"FR\", \"GR\", \"GT\", \"HK\", \"HN\", \"HU\", \"ID\", \"IL\", \"IN\", \"IS\", \"IT\", \"JO\", \"JP\", \"KW\", \"LB\", \"LI\", \"LT\", \"LU\", \"LV\", \"MA\", \"MC\", \"MT\", \"MX\", \"MY\", \"NI\", \"NL\", \"NO\", \"OM\", \"PA\", \"PE\", \"PH\", \"PL\", \"PS\", \"PT\", \"PY\", \"QA\", \"RO\", \"SA\", \"SE\", \"SG\", \"SK\", \"SV\", \"TH\", \"TN\", \"TR\", \"TW\", \"US\", \"UY\", \"VN\", \"ZA\" ],\n          \"disc_number\" : 1,\n          \"duration_ms\" : 344960,\n          \"explicit\" : false,\n          \"external_urls\" : {\n            \"spotify\" : \"https://open.spotify.com/track/0gGcxqdc9eJGQZstHKbyGt\"\n          },\n          \"href\" : \"https://api.spotify.com/v1/tracks/0gGcxqdc9eJGQZstHKbyGt\",\n          \"id\" : \"0gGcxqdc9eJGQZstHKbyGt\",\n          \"is_local\" : false,\n          \"name\" : \"Aberinkula\",\n          \"preview_url\" : \"https://p.scdn.co/mp3-preview/9fb4eb06d0936b0af8f7e99e7d2400498efb20c0?cid=20f523dfa8244ddcabbe52e3da921edb\",\n          \"track_number\" : 1,\n          \"type\" : \"track\",\n          \"uri\" : \"spotify:track:0gGcxqdc9eJGQZstHKbyGt\"\n        }, {\n          \"artists\" : [ {\n            \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/75U40yZLLPglFgXbDVnmVs\"\n            },\n            \"href\" : \"https://api.spotify.com/v1/artists/75U40yZLLPglFgXbDVnmVs\",\n            \"id\" : \"75U40yZLLPglFgXbDVnmVs\",\n            \"name\" : \"The Mars Volta\",\n            \"type\" : \"artist\",\n [...]
